
.headerdscpl {
 text-align: center; 
 padding: 15px 35px;
 font-size: 30px;
 color: blue;  
 }

.container { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  width: 70%;
  padding: 80px 20px 80px 20px; 
  background: yellow;
  gap: 50px;
  margin: 10px;
  justify-content: center; 
  /*align-items: center;*/
  
  
}
.discipline {
     /*padding: 15px 35px;*/
     font-size: 21px;
     color: #fff;
     background: none;
     border: none;
     border-radius: 10px;
     justify-content: center;
}

.gallery__img {
    width: 100%;
    height: 100%;
  object-fit: cover;
  border: solid #000000aa;
  border-radius: 20px;
  justify-content: center; /*align-items: center;
}