footer {
    background-color: black;
    width: 100%;
    height: auto;
    padding: 40px;

    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
}

footer .center img {
    display: block;
    width: 300px;
    height: auto;
    margin: auto;
}

footer .center small {
    padding-top: 40px;
    color: white;
    font-weight: 100;
    display: block;
    line-height: 18px;
    text-align: center;
}

footer .right nav {
    padding: 0;
}

footer .right nav .nav-link {
    text-align: right;
    display: block;
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 10px 0;
    border-bottom: none;
}

footer .right nav .nav-lin:hover {
    border-bottom: none;
}

footer .left address {
    font-style: normal;
    font-size: 16px;
    font-weight: 100;
    line-height: 160%;
    color: white;
    padding-top: 20px;
}

footer .left .contact {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 160%;
    font-weight: 300;
    letter-spacing: normal;
    transition: all .3s ease;
}

footer .left .social {
    padding-top: 30px;
}

footer .left .social a {
    margin-right: 20px;
}

footer .left .social a img {
    width: 48px;
    height: 48px;
}

@media only screen and (max-width: 850px) {
    footer {
        position: relative;
        height: auto;
        padding: 40px 20px;

        grid-gap: 0;
        grid-template-columns: 1fr;
        grid-template-areas:
            "ttt"
            "bbb";
    }

    footer .left {
        grid-area: ttt;
        text-align: center;
        padding-bottom: 40px;
    }

    footer .center {
        grid-area: bbb;
    }

    footer .left .social {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
    }

    footer .left .social a {
        margin: 0 10px;
    }
}