#screen-4 {
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 60px 40px;
    background-color: rgba(186, 186, 186, 0.1);
}

#screen-4 h3 {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 52px;
    font-weight: 600;
    text-transform: uppercase;
    margin: auto;
    max-width: 960px;
}

#screen-4 p {
    padding: 20px 0;
    font-size: 16px;
    font-weight: 300;
    margin: auto;
    max-width: 960px;
}

#screen-4 .foto-casa {
    padding: 20px 0 40px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: auto;
    max-width: 960px;
}

.item-photo {
    position: relative;
    min-width: 300px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    transition: all .3s ease;
    filter: grayscale(.5);
}

.item-photo:hover {
    transform: scale(1.05);
    filter: grayscale(0);
}

.item-photo .full-size {
    position: absolute;
    width: 100%;
    min-width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media only screen and (max-width: 850px) {
    #screen-4 {
        padding: 80px 0 0;
    }

    #screen-4 h3 {
        font-size: 28px;
    }

    #screen-4 .foto-casa {
        padding: 10px 0 40px;
        grid-gap: 10px;
        max-width: 920px;
    }

    .item-photo {
        filter: grayscale(0);
    }

    .item-photo:hover {
        transform: scale(1);
        filter: grayscale(0);
    }
}