#screen-2 {
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 60px 40px;
    background-color: #ededed;
    
}

#screen-2 h3 {
    text-align: left;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    max-width: 960px;
    padding: 0 40px;
    margin: auto;
}

.pricetext {
    text-align: left;
    font-size: 20px;
    font-weight: 300;
    max-width: 960px;
    padding: 0 40px;
    margin: auto;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 20px 0 20px;
    margin: auto;
    max-width: 960px;
    justify-items: center;
    
}

.stiky:hover {
    transform: scale(1.05);
}

.stiky {
  box-sizing: border-box;
  width: 100%;
  border: none;
  text-decoration:none;
  color:#ffffff;
  background:#000000; /*#ffc*/
  display:block;
  height:400px;
  width:200px;
  padding:5px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
  border-radius: 5px;
 /* transition: transform .1s linear;*/
  text-align: center;
}

.stiky p {
    font-size: 25px;
    font-weight: 300;
    color: #ffffff;
    max-width: 600px;
    padding: 0.5em;
}

.stikylogo {
    padding: 10px 5px 10px 5px;
}

.price {
    box-sizing: border-box;
    color: black;
    font-size: 30px;
    font-weight: 600;
    color: black;
    padding: 30px 5px 30px 5px;
    text-align: center;
}

.stikycont_tel {
    /*padding-top: 30px;*/
    transition: transform .1s linear;     
    padding-bottom: 10px;
}

.stikycont_tel a {
    margin-left: auto;
    margin-right: auto;
}

.stikycont_tel a img {
    width: 60px;
    height: 60px;   
    
}
.stikycont_tel:hover {
    transform: scale(1.2);
}

.stikycont_mail {    
    bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    transition: transform .1s linear;     
    
}

/*.stikycont_mail a {
    margin-left: auto;
    margin-right: auto;
}*/

.stikycont_mail a img {
    width: 60px;
    height: 60px;   
    
}
.stikycont_mail:hover {
    transform: scale(1.2);
}