#screen-3 {
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 40px 0;
    margin: auto;
}

#screen-3 h3 {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 44px;
    font-weight: 600;
    text-transform: uppercase;
    margin: auto;
    max-width: 1240px;
    line-height: 1.2;
    padding: 0 40px;
}

#map {
    width: 100%;
    height: 50vh;
    padding: 20px 0;
}

#screen-3 .wrapper {
    width: 100%;
    max-width: 1240px;
    height: auto;
    padding: 10px 40px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#screen-3 b {
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 5px;
}

#screen-3 address {
    font-size: 16px;
    font-weight: 100;
    font-style: normal;
}

#screen-3 a {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    color: black;
    padding-top: 5px;
}

#screen-3 a:hover {
    text-decoration: underline;
}

#screen-3 .social {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1240px;
    padding: 10px 40px;
    margin: auto;
}

#screen-3 .social a {
    margin-right: 20px;
}

#screen-3 .social a img {
    width: 48px;
    height: 48px;
}

@media only screen and (max-width: 850px) {
    #screen-3 {
        padding: 40px 0 20px;
    }

    #screen-3 h3 {
        font-size: 28px;
        text-align: center;
        padding: 20px 0 40px;
    }
}