#scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    cursor: pointer;
    z-index: 999;

    img {
        transition: all .3s ease;
        width: 40px;
        height: auto;
        z-index: 99;
    }
}